<%- include('partials/header') %>

<!-- this is login page -->



<!-- css for login page -->
<style>
body {
  background-image: url('https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.tag {
  padding:20px;
}
</style>



<div class="container mt-5">

  <h1 class = "tag">Login</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /login route -->
          <form action="/login" method="POST">

            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-dark">Login</button>

          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
