<%- include('partials/header') %>

<!-- success page after logging -->

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Logging Succesful !!</h1>

    <img class="userImage" src="https://www.clipartkey.com/mpngs/m/283-2836740_success-icon-transparent-green-success-png-icon.png" alt="Success">

    <hr>

    <a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>

  </div>
</div>

<%- include('partials/footer') %>
